<% @sumpoints.each do |sumpoint| %>
  <ul>
    <li>
      <%= sumpoint.body %><br>
      <small>Posted by <%= sumpoint.user.name %> | <%= time_ago_in_words(sumpoint.created_at) %> ago</small> 
    </li>

    <small>
      <span class="glyphicon glyphicon-thumbs-up"></span> 
      <small>234 &nbsp;&nbsp;</small>
      <span class="glyphicon glyphicon-thumbs-down"></span> 
      <small>43</small>
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: 70%">
          <span class="sr-only">90% Complete (success)</span>
        </div>
      </div>
    </small>

  </ul>    
<% end %>

<%= will_paginate @sumpoints %>