Will need to filter by tags somehow

<hr>

<div class="row">
  <!-- Sumpoints area-->
  <div class="col-md-12">
    <%= render partial: 'sumpoints/sumpoints', locals: { sumpoints: @liked_sumpoints } %>
  </div>
  <!-- Sumpoints END -->

</div>