<div class="container">

  <!-- START THE FEATURETTES -->
  <hr>
  <div>
    <h2>First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <hr>
  <!-- /END THE FEATURETTES -->
</div>

<!-- FOOTER -->
<div>
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2014 SumPoints.</p>
  </footer>
</div>