<div class="container">

  <!-- START THE FEATURETTES -->
  <hr>
  <div>
    <h2>Bfeae fea eaf fa ea. <span class="text-muted">fafeafe fea ffe fe fa a.</span></h2>
    <p class="lead">
       efa eaf af afeoafkeofke f akefo eakf eoaf keoa keao fkeao keaof keao fkeaof eakf oaef koek fa.
    </p>
  </div>

  <div>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </div>

  <hr>
  <!-- /END THE FEATURETTES -->
</div>

<!-- FOOTER -->
<div>
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2014 SumPoints.</p>
  </footer>
</div>