<div class="container">
  <div class="row">
      <div class="col-lg-12 text-center">
          <h2>SumPoints</h2>
          <h4 class="section-subheading text-muted">A Place to Share and Bookmark Your Favourite Summary Points</h4>
      </div>
  </div>
  <div class="row text-center">
      <div class="col-md-4">
          <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x text-inverse"></i>
              <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Read or View Media</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
          <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x text-inverse"></i>
              <i class="fa fa-list-ul fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">SumPoint It</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
      <div class="col-md-4">
          <span class="fa-stack fa-4x">
              <i class="fa fa-square fa-stack-2x text-inverse"></i>
              <i class="fa fa-thumbs-o-up fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Tag and Save</h4>
          <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">Sign Up Buttons</h2>
        facebookbutton/ twitter button
    </div>
  </div>

</div>

