<h1>Welcome to SumPoints</h1>
<p>This is the home page for SumPoints</p>

<% @posts.each do |post| %>
  <p>
    <%= link_to post.title, post %>
    <small>
      <br>
      [x hours] ago by [user] |
      <%= link_to pluralize(post.sumpoints.count,'SumPoint'), post %> |

        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Show/Hide SumPoint
        </a>

        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <% post.sumpoints.each do |sumpoint| %>
              <ul>
                <li><%= sumpoint.body %></li>
              </ul>
            <% end %>
          </div>
        </div>

    </small>
  </p>
<% end %>
