<div class="col-lg-12 text-center">
    <h3 class="section-subheading text-muted">Latest Posts</h3>
</div>
<hr>

<% @posts.each do |post| %>
  <%= render partial: 'post', locals: { post: post } %>
<% end %>

<%= will_paginate @posts %>
