
@import "bootstrap";

// for scalable vector icons
@import "font-awesome";

// Social signin buttons from http://lipis.github.io/bootstrap-social/
@import "bootstrap-social";

/* My other css code*/

// so menu doesn't overlap body content
body { padding-top: 50px; }

// vote arrows
.vote-arrows {
  width: 20px;
  text-align: center;
}


// make thumbs glyphicons smaller
.glyphicon-chevron-up {
    font-size: 0.8em;

}


.glyphicon-chevron-down {
    font-size: 0.8em;
}

.span:nth-child(even) {
  background-color: #428bca;
}

// Progress bar dimensions
.progress {
  height: 2px;
  width: 70px;
}
